@import "../globals";
@import "../responsive";

.home {
  @include Flexbox($items: flex-start);
  @include Padding(0, 2rem);
  flex-direction: column;
  gap: 2rem;

  @include mobile {
    align-items: center;
  }
}
