@import "./reset.css";

:root {
  --color-bg-dark: #fff;
  --color-text-dark: #121212;
  --color-lightGray: #6e7374;
  --color-lightSkyBlue: #e5f0f2;
}

html.dark {
  --color-bg-dark: #121212;
  --color-text-dark: #fff;
  --color-lightGray: #939aa6;
  --color-lightSkyBlue: rgba(229, 240, 242, 0.35);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

a {
  color: var(--color-text-dark);
}

main {
  max-width: 1280px;
  margin: 0 auto;
}
