@import "@/styles/scss/colors";
@import "@/styles/scss/globals";
@import "@/styles/scss/responsive";

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;

  .logo {
    color: $turquoise;
    font-weight: 700;
    font-size: 1em;
    line-height: 23px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .menu_icon {
    display: none;

    @include mobile {
      display: flex;
    }
    @include tabletToMobile {
      display: flex;
    }
  }

  .menu {
    @include Flexbox($justify: space-between);
    width: 70%;

    @include mobile {
      display: none;
    }
    @include tabletToMobile {
      display: none;
    }

    .search {
      width: 3em;
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $coralRed;
      > svg {
        width: 1em;
        height: 1em;
        color: $white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// HeaderNavigation
.nav {
  display: flex;
  gap: 2em;
}

.menu {
  font-size: 0.86em;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 1.5px;
  &:hover {
    cursor: pointer;
  }
}
