$block: #000000;
$graphite: #121212;

$lightGray: #dfdfdf;

$white: #ffffff;
$lightSkyBlue: #e5f0f2;
$brightCyan: #40b2c9;
$offWhite: #edefef;

$turquoise: #11bcc7;

$watermelonPink: #f5556e;
$coralRed: #ff553c;
$neonOrange: #ff5c00;
