@import "colors";
@import "globals";
@import "responsive";

.main {
  @include Flexbox;
  gap: 4rem;

  @include mobile {
    flex-direction: column;
    gap: 2.5rem;
  }
  @include tabletToMobile {
    flex-direction: column;
    gap: 2.5rem;
  }
}
